.label {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;


  &_text {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    line-height: 51px;
    font-weight: 400;
    font-size: 24px;
    color: #999999;
  }

  input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  input[type='radio']:checked + .graph + &_text {
    color: var(--pomodoro-red);
  }
  input[type='radio']:checked + .graph {
    transition: background-color .2s ease;
    background-color: var(--pomodoro-red);
  }
}
.graph {
  transition: height 1s ease;
  background-color: #999999;
}

.graph:hover {
  background-color: var(--graph-hover);
}

.graph__full {
  background-color: var(--graph);
}
