.select__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  margin-bottom: 30px;
  &_title {
    font-weight: 700;
    font-size: 24px;
  }
}

@media all and (max-width: 620px){
  .select__container {
    &_title {
      display: none;
    }
  }
}