@import "src/Mixins.scss";
.pause {
  @include statistic_item;
  background-color: var(--pause-bg);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: .5s;
  opacity: 0;
  transform: translateY(500px);
  &_active {
    opacity: 1;
    transform: none;
  }
}