.wrapper {
  margin-bottom: 25px;
  animation:animation .8s 1 ease ;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--main-color);
  margin-bottom: 3px;
  margin-top: 0;
}

.list {
  margin: 0;
  padding-left: 18px;

  li {
    font-size: 16px;
    line-height: 33px;
    color: var(--main-color);
  }
  li::marker {
    color: var(--pomodoro-red);
  }
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 1210px){
  .wrapper {
    display: none;
  }
}