@import "src/Mixins.scss";
.stop {
  @include statistic_item;
  background-color: var(--stop-bg);
  animation: animation .5s 1 ease;
}

@keyframes animation {
  from{
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}